# Required
ETHEREUM_RPC_URL=

# Optional or for production
POSTGRES_URI=
FIRST_SEARCH_BLOCK=
START_BLOCK_OFFSET=
MAX_BLOCKS_TO_PULL=
MAX_BLOCKS_TO_SEARCH=
CHAIN_ID=
BLOCK_FINALITY_THRESHOLD=
SECONDS_BETWEEN_RUNS=
SHOULD_SYNCHRONIZE=
STAKING_PROXY_DEPLOYMENT_TRANSACTION=
