{
    "ignorePatterns": [
        "__build__/**/*",
        ".eslintrc.js",
        "*.config.*",
        "dist/**/*",
        "node_modules/**/*",
        "mounts/*",
        "lib/*"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import", "jest"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "import/no-cycle": "error",
        "no-console": ["warn"],
        "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
        "@typescript-eslint/no-empty-function": "off",

        // The following rules are disable to help with the cleanup, eventually they should be disabled
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    }
}
